<div class="container">
  <div class="box">
    <h2>Enter Your Details</h2>

    <!-- Campo para Nome -->
    <label for="name">Name</label>
    <input type="text" id="name" [(ngModel)]="enteredPersonName" placeholder="Enter your name">
    <input type="text" id="email" [(ngModel)]="enteredEmail" placeholder="Enter your email">
    <input type="text" id="number" [(ngModel)]="enteredNumber" placeholder="Enter your phone number">

    <!-- Botão -->
    <button (click)="onCreatePerson()">Create</button>
  </div>
</div>
